@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

nav a {
  color: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  color:#000;
}

* {
  transition: all 0.3s ease;
}

button {
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 50%;
}

.custom-form {
  @apply flex flex-col gap-4 justify-center w-80;
}

.custom-form-field {
  @apply bg-gray-100 shadow outline-0 rounded-lg w-full px-4 py-2 hover:shadow-lg;
}

.custom-form-field::placeholder {
  font-style: italic;
  opacity: 50%;
}

.custom-form-label {
  @apply flex flex-col gap-2;
}

.custom-form-button {
  @apply shadow hover:shadow-xl;
}

.header-nav-link {
  @apply py-3 px-6 border-y-1 border-white;
}

.header-nav-link:hover {
  color: #000;
  background-color: rgb(216, 216, 216);
}

.header-nav-link.active {
  color: #000;
  background-color: white;
}

.aside-nav {
  @apply my-1 p-1 rounded lg:p-0;
}

.aside-nav:hover {
  @apply bg-amber-200 text-amber-300 lg:p-0 lg:bg-inherit lg:pl-4;
}

.aside-nav.active {
  @apply bg-amber-100 text-amber-200 lg:p-0 lg:bg-inherit lg:pl-4;
}

aside > div::-webkit-scrollbar {
  width: 0;
}

.custom-list-item {
  @apply font-medium shadow-xl w-120 rounded-2xl text-left
}

.custom-list-item:hover {
  @apply bg-amber-100 cursor-pointer shadow-2xl;
}

.custom-table tr:not(:last-of-type) {
  @apply border-b-2 border-amber-200;
}

.custom-table tr > td:nth-child(1) {
  @apply border-r-2 px-4 py-2 border-amber-200 min-w-30;
}

.custom-table tr > td:nth-child(2) {
  @apply px-4 py-2 w-full;
}

.custom-form-label {
  @apply flex flex-col items-start gap-1 md:flex-row md:items-center;
}